@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html, body {
    min-height:100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #F7E1D7;
}
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    min-height: 88px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #6DAEDB;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 6rem 0 6rem 0;
}

.pes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 1rem;
    height: 8.2rem;
}

h1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 27%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.titulo_index {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.ideia {
    display: flex;
    margin: 1rem 1.5rem 1rem 1.5rem;
    background-color: #6DAEDB;
    border: 2px solid #3E7DAB;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
}

.voltar {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 2rem;
    align-items: center;
}

.pesquisar {
    display: flex;
    flex-direction: row;
    width: 12rem;
    height: 3rem;
    padding: 0.7rem;
    margin-top: 0.7rem;;
    border: solid 1px black;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
}

.coluna{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.empresa {
    display: flex;
    flex-direction: row;
    border: solid 1px #3E7DAB;
    background-color: #50A3DE;
    border-radius: 40px;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 5rem;
    font-size: 1.6rem;
    margin-top: 0.7rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    font-family: 'Roboto', sans-serif;
}

.empresa-link {
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: solid 0.5px #6DAEDB;
    border-radius: 15px 15px 0px 0px;
    background-color:#6DAEDB;
    margin-top: 11.3rem;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0px 5px 0px;
}

.infosprinc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0rem 2rem 0rem;
    flex-wrap: wrap;
}

.infos{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin: 0.5rem 0rem 0.8rem 0rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.topicos {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

.input {
    display:flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-top: 1rem;
}

#candidato {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    font-size: 2.5rem;
}

#pfp {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#edit {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 1rem 1rem;
}

h3 {
    font-weight: bold;
}

.filtros {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
}

.margem-lat {
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.ghost {
    display: flex;
}
.interest {
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 1.5rem;
}
.int-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 1px black;
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.right {
    display: flex;
    flex-direction: row;
    position:absolute;
    right:5%;
    padding-right: 0.5rem;
}
.right1 {
    display: flex;
    flex-direction: row;
    position:absolute;
    right:5%;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
}

.borda {
    border-top: 1px solid;
    padding: 1.3rem 0 1.3rem 0;
}

.infos-perfil {
    margin: 1rem 0.8rem 0.2rem 1.2rem;
    font-size: 1.5rem;
}

.itens-perfil {
    margin: 1rem 0.8rem 0.2rem 1.6rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.edita-filtro-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.chat {
    width:100%;
    height: 2rem;
    border-radius: 5px;
}
.chat1 {
    position:absolute;
    bottom:13%;
    right:10%;
    left:10%;
}

.corpo-chat{
    background-color: #F7E1D7;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 1.5rem;
}

.img-usuario{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100px;
    height: auto;
}

.info-usuario{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.nome-usuario{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.nav-acoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lista-acoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#close, #search{
    background-color: transparent;
    color: white;
    border: 0;
    width: 1rem;
    height: auto;
    margin: 1rem;
}

.h2-chat{
    font-size: 1.2rem;
    color: black;
}

.h3-chat{
    font-size: 0.8rem;
    color: black;
    font-weight: lighter;
    font-style: italic;
    margin: 0.2rem 0;
}

.msg-titulo, .msg-titulo-invertido{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.msg-titulo-invertido{
    align-items: flex-end;
    justify-content: flex-end;
}

.msg-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F7E1D7;
    padding-top: 5rem;
}

.msg-resposta, .msg-usuario{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 2.5rem;
    padding: 1rem;
    color: white;
}

.msg-usuario{
    align-self: flex-start;
}

.msg-resposta{
    align-self: flex-end;
}

.bolha-usuario{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color:#3E7DAB;
    border:0.2rem solid #3E7DAB;
    padding: 1rem;
    border-radius: 0.5rem;
}

.bolha-resposta{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: #3E515E;
    border-color: #3E515E;
    padding: 1rem;
    border-radius: 0.5rem;
}

.bloco-envio-msg{
    display: flex;
    flex-direction: row;
    padding: 0rem 0.2rem 5rem 0.2rem;
    margin: 0rem 1.2rem 1.2rem 1.2rem;
}

.entrada-msg{
    width: 80%;
    margin-right: 1%;
    border: #3E515E 1px solid;
}

.botao-enviar{
    width: 20%;
    font-size: 1.5rem;
    color: white;
    background-color: #3E515E;
    border-radius: 10px;
}

input[type="text"]
{
    padding: 0.4rem;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .cabecalho{
        display: block;
        text-align: center;
    }

    .nav-acoes{
        display: flex;
        justify-content: center;
    }

    .img-usuario{
        align-self: center;
    }

    .bolha-resposta, .bolha-usuario{
        width: 100%;
    }

   .botao-enviar{
       font-size: 1rem;
   }
}

@media only screen and (max-width: 600px) {
    .entrada-msg{
        width: 70%;
    }
    
    .botao-enviar{
        width: 30%;
    }
}

.mutavel {
    font-size: 1.2rem;
    width: 8rem;
    height: 1rem;
    background-color: #F7E1D7;
    margin: 0.5rem 0 0 1.5rem;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
}

.periodo {
    margin: 1rem 0 2rem 1.2rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

#texto-grande-perfil {
    font-size: 1rem;
    background-color: #F7E1D7;
    margin: 0.5rem 0 0 1.5rem;
    border-color: transparent;
    width: 80%;
    height: 10rem;
}

#n1, #n2 {
    width: 2.5rem;
    height: 1.3rem;
    border-bottom: 1px solid;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.6rem;
}

.linha {
    display: flex;
    flex-direction: row;
}

#infempresa {
    margin: 0.5rem 1.2rem 0.8rem 2.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid;
    padding: 0.8rem 0 0.2rem 0;
}

.text-infemp {
    margin: 0.5rem 1.2rem 0.8rem 2rem;
    font-size: 1.2rem;
}

.img-rodape {
    width: 5rem;
    height: 5rem;
}

.img-logo {
    width: 5.5rem;
    height: 5rem;
}

#img-pesquisar {
    width: 2rem;
    height: 2rem;
}

.img-voltar {
    width: 2rem;
    height: 2rem;
}

.sublinhado {
    position: relative;
    border-bottom: 1px solid;
    left: 5.7rem;
    width: 9rem;
    bottom: 1.5rem;
}

#addf, #addh {
    position: relative;
    top: 1rem;
    margin-bottom: 1rem;
}

.item {
    width: 90%;
    height: 1.2rem;
    margin-top: 0.3rem;
    font-size: 1.3rem;
    border-bottom: 1px solid;
}